.popupContainer{
    width: 100%;
    height: auto !important;
    position: sticky;
    top: 100px;
    z-index: 100;
    background-color: #55c0ce;
    padding: 15px 30px;
    color: #fff;

}
.popupContainer p{
    font-size: 20px;
}
.content{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    width: 100%;
    background-color: #a7f016;
    animation: rightToLeft 3s;
}
@keyframes rightToLeft {
    0% {
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes vanished {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}